@import "../../style/variables";

.modal {
  min-width: 300px;
  min-height: 200px;
  background-color: $white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  &-shadow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 25, 43, 0.4);
  }
}
