.lnd-flex { display: flex; }
.lnd-flex-inline { display: inline-flex; }

.lnd-flex::before,
.lnd-flex::after,
.lnd-flex-inline::before,
.lnd-flex-inline::after { display: none; }

.lnd-flex-left { justify-content: flex-start; }
.lnd-flex-center { justify-content: center; }
.lnd-flex-right { justify-content: flex-end; }
.lnd-flex-between { justify-content: space-between; }
.lnd-flex-around { justify-content: space-around; }

.lnd-flex-stretch { align-items: stretch; }
.lnd-flex-top { align-items: flex-start; }
.lnd-flex-middle { align-items: center; }
.lnd-flex-bottom { align-items: flex-end; }

.lnd-flex-row { flex-direction: row; }
.lnd-flex-row-reverse { flex-direction: row-reverse; }
.lnd-flex-column { flex-direction: column; }
.lnd-flex-column-reverse { flex-direction: column-reverse; }

.lnd-flex-nowrap { flex-wrap: nowrap; }
.lnd-flex-wrap { flex-wrap: wrap; }
.lnd-flex-wrap-reverse { flex-wrap: wrap-reverse; }

.lnd-flex-wrap-stretch { align-content: stretch; }
.lnd-flex-wrap-top { align-content: flex-start; }
.lnd-flex-wrap-middle { align-content: center; }
.lnd-flex-wrap-bottom { align-content: flex-end; }
.lnd-flex-wrap-between { align-content: space-between; }
.lnd-flex-wrap-around { align-content: space-around; }

.lnd-flex-first { order: -1;}
.lnd-flex-last { order: 99;}

.lnd-flex-none { flex: none; }
.lnd-flex-auto { flex: auto; }
.lnd-flex-1 { flex: 1; }

@media (max-width: $breakpoint-xs) {
  .lnd-flex-left\@xs { justify-content: flex-start; }
  .lnd-flex-center\@xs { justify-content: center; }
  .lnd-flex-right\@xs { justify-content: flex-end; }
  .lnd-flex-between\@xs { justify-content: space-between; }
  .lnd-flex-around\@xs { justify-content: space-around; }

  .lnd-flex-first\@xs { order: -1; }
  .lnd-flex-last\@xs { order: 99; }

  .lnd-flex-row\@xs { flex-direction: row; }
  .lnd-flex-row-reverse\@xs { flex-direction: row-reverse; }
  .lnd-flex-column\@xs { flex-direction: column; }
  .lnd-flex-column-reverse\@xs { flex-direction: column-reverse; }
}

@media (max-width: $breakpoint-sm) {
  .lnd-flex-left\@s { justify-content: flex-start; }
  .lnd-flex-center\@s { justify-content: center; }
  .lnd-flex-right\@s { justify-content: flex-end; }
  .lnd-flex-between\@s { justify-content: space-between; }
  .lnd-flex-around\@s { justify-content: space-around; }

  .lnd-flex-first\@s { order: -1; }
  .lnd-flex-last\@s { order: 99; }


  .lnd-flex-row\@s { flex-direction: row; }
  .lnd-flex-row-reverse\@s { flex-direction: row-reverse; }
  .lnd-flex-column\@s { flex-direction: column; }
  .lnd-flex-column-reverse\@s { flex-direction: column-reverse; }

}

@media (max-width: $breakpoint-md) {
  .lnd-flex-left\@m { justify-content: flex-start; }
  .lnd-flex-center\@m { justify-content: center; }
  .lnd-flex-right\@m { justify-content: flex-end; }
  .lnd-flex-between\@m { justify-content: space-between; }
  .lnd-flex-around\@m { justify-content: space-around; }

  .lnd-flex-first\@m { order: -1; }
  .lnd-flex-last\@m { order: 99; }

  .lnd-flex-row\@m { flex-direction: row; }
  .lnd-flex-row-reverse\@m { flex-direction: row-reverse; }
  .lnd-flex-column\@m { flex-direction: column; }
  .lnd-flex-column-reverse\@m { flex-direction: column-reverse; }
}

@media (max-width: $breakpoint-lg) {
  .lnd-flex-left\@l { justify-content: flex-start; }
  .lnd-flex-center\@l { justify-content: center; }
  .lnd-flex-right\@l { justify-content: flex-end; }
  .lnd-flex-between\@l { justify-content: space-between; }
  .lnd-flex-around\@l { justify-content: space-around; }

  .lnd-flex-first\@l { order: -1; }
  .lnd-flex-last\@l { order: 99; }

  .lnd-flex-row\@l { flex-direction: row; }
  .lnd-flex-row-reverse\@l { flex-direction: row-reverse; }
  .lnd-flex-column\@l { flex-direction: column; }
  .lnd-flex-column-reverse\@l { flex-direction: column-reverse; }
}
